@{
    ViewData["Title"] = "Política de Privacidad";
}


<div class="row justify-content-center">
    <div class="col-md-8 texto-justificado">
        <h1 style="text-align: center;">@ViewData["Title"]</h1>

        <p class="texto-justificado">
            En <strong>La Bodega Paty</strong> estamos comprometidos con la protección y privacidad de la información personal que nuestros clientes y empleados nos proporcionan. Esta políticade privacidad explica cómo recopilamos, utilizamos, divulgamos y protegemos dicha información.
        </p>
        <h1>Información que Recopilamos</h1>
        <p>
            Recopilamos información personal de diversas maneras, incluyendo, pero no limitándonos a:

        </p>
        <ol>
            <li>
                Información proporcionada por los clientes al realizar compras, como nombre, dirección, número de teléfono, dirección de correo electrónico y detalles de pago.

            </li>
            <li>
                Información recopilada automáticamente a través de cookies y tecnologías similares cuando los clientes visitan nuestro sitio web.
            </li>
            <li>
                Información proporcionada por empleados, como nombres, direcciones, información de contacto, historial laboral y datos necesarios para la nómina y administración interna.

            </li>

        </ol>
        <h1>Uso de la Información</h1>
        <p>
            La información recopilada se utiliza para los siguientes propósitos:
        </p>
        <ol>
            <li>
                Facilitar el acceso y uso del sistema web.
            </li>
            <li>
                Personalizar la experiencia del usuario y proporcionar contenido relevante.
            </li>
            <li>
                Enviar comunicaciones relacionadas con el servicio, actualizaciones, notificaciones sobre cambios en la política de privacidad o términos de servicio.
            </li>
            <li>
                Mejorar continuamente nuestros servicios y funciones, así como realizar análisis y estudios para entender mejor las necesidades y preferencias de los usuarios.
            </li>
        </ol>

    </div>

</div>
